@model IEnumerable<PlacementManagement.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dept.deptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adminName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dept.deptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adminName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
    @if (Session["uname"].ToString().Equals(item.adminName))
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.adminId }) |
            @Html.ActionLink("Details", "Details", new { id = item.adminId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.adminId })
        </td>
    }
    </tr>
}

</table>
