@model PlacementManagement.Models.Student
@{
    ViewBag.Title = "LoginStudent";
}

<h2>LoginStudent</h2>

@using (Html.BeginForm("Login", "Students", FormMethod.Post, new { @class = "form-horizontal" }))
{


    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-default" />
        </div>
    </div>
}
@Html.ActionLink("New User", "Create", "Students")
@Html.ActionLink("Login as Admin", "Login", "Admins")
